.board-title {
    padding-inline-start: 20px;
}
.highlights,
.key-dates {
    font-weight: bold;
    border-bottom: 1px solid black;
}
.highlights-content > div > p > span,
.highlights-content > div >ul > li > span > span {
font-family: unset !important;
}
.boards-popup-table {
    overflow-x: auto;
}
.boards-popup-table table {
    width: 100%;
}

@media (max-width : 991px ) {
    .boards-popup-table table {
        width: 1000px;
    }
}